<nav class="navbar navbar-expand-xl navbar-light @@classList">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/overview.html">
      Café Brújula | Serie Maestros
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLandingCollapse" aria-controls="navbarLandingCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarLandingCollapse">

      <!-- Nav -->
      <ul class="navbar-nav ml-xl-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#welcome" data-toggle="smooth-scroll">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products" data-toggle="smooth-scroll">Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" data-toggle="smooth-scroll">Proceso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#howItWorks" data-toggle="smooth-scroll">Comprar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing" data-toggle="smooth-scroll">Contacto</a>
        </li>

      <!-- Nav -->
  

    </div>

  </div>
</nav>
